<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bomi</title>
</head>
<body>
    <header class="header">
        <nav>
            <a href="../index.html">
            <div>
             <img src="../img/Bomi_Branding_Logotipo_v02.png" alt="bomi-logotipo">
            </div>
            </a>
            <a class="header-nav-anchors" href="../index.html">Home</a>
            <a href="../views/nosotros.html">Nosotros</a>
            <a href="../views/servicios.html">Servicios</a>
            <a href="../views/galeria.html">Galeria</a>
            <a href="../views/contacto.html">Contacto</a>
        </nav>
    </class>
    </header>
    <main>
        <section>
            <article>
                <h1>Contactanos</h1>
            </article>
        </section>
            <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1641.9147773690443!2d-58.3820867!3d-34.6084713!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb640d81a58f%3A0x976c681eb50ebf7c!2sBomi!5e0!3m2!1sen!2sar!4v1650754101664!5m2!1sen!2sar" width="700" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="direccion">
                <p>Cerrito 12, Ciudad Autónoma de Buenos Aires</p>
                <p>1128780594</p> 
                <p class="direccion-p">bomi-cakeshop@gmail.com</p>
            </div>
        </main>       
         <!--datos del local!-->
       <footer>
            <form>
            <input type="text" name="Nombre" placeholder="Your Name">
            <input type="email" name="email" placeholder="bomi-cakeshop@gmail.com">
            <textarea name="text" cols="150" rows="1" placeholder="Subject"></textarea>
            <textarea name="text" cols="150" rows="10" placeholder="Message"></textarea>
            <div>
                 Acepta terminos y condiciones?
                <input type="checkbox" name="check">
                </div>
                <input type="submit" value="Enviar">
            
            </form>
    </footer>    
    </body>
    </html>