<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bomi</title>
</head>
<body>
    <header class="header">
        <nav>
            <a href="../index.html">
            <div>
            <img src="../img/Bomi_Branding_Logotipo_v02.png" alt="bomi-logotipo">  
            </div>
            </a>
            <a class="header-nav-anchors" href="../index.html">Home</a>
            <a href="../views/nosotros.html">Nosotros</a>
            <a href="../views/servicios.html">Servicios</a>
            <a href="../views/galeria.html">Galeria</a>
            <a href="../views/contacto.html">Contacto</a>
        </nav>
    </class>
    </header>
    <main>
        <section>
            <article>
                <h1>Galeria</h1>
                <p class="section__article--parrafo">Nuestra galeria</p>
            </article>
        </section>
    </main>
    <img src="../img/donut.jpg" alt="dona" width="400" height="300">
    <img src="../img/donuts.jpg" alt="donas" width="400" height="300">
    <img src="../img/caramelo.jpg" alt="caramelo"width="400" height="300" >
    <img src="../img/donuts-6.jpg" alt="seis donas"width="400" height="300" >
</body>
</html>