<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bomi</title>
</head>
<body>
    <header class="header">
        <nav>
            <a href="../index.html"></a>
            <div>
                <img src="../img/Bomi_Branding_Logotipo_v02.png" alt="bomi-logotipo">
            </div>
            </a>
            <a class="header-nav-anchors" href="../index.html">Home</a>
            <a href="../views/nosotros.html">Nosotros</a>
            <a href="../views/servicios.html">Servicios</a>
            <a href="../views/galeria.html">Galeria</a>
            <a href="../views/contacto.html">Contacto</a>
        </nav>
    </class>
    </header>
    <main>
        <section>
            <article>
                <h1>Equipo</h1>   
                <p>Bomi es una pastelería, así como una pequeña cafetería, ubicada en el centro de la Ciudad de Buenos Aires. En Bomi contamos con un gran equipo de profesionales en la pasteleria y reposteria, que trabaja en el campo desde 2014 y desarrolla productos artesanales de alta calidad, donde hace uso de aromas, colores, sabores, texturas, empleando sentimiento y dedicación en productos únicos. </p>
    
       
        <div class="caja-contenedora">
            <div class="foto">
                <img src="../img/2b81405a78c792100e2770d4c9104f65.jpg" class="foto-de-equipo" alt="Priscila">
            </div>
            <div class="pie">
                <p>Priscila Jae-on</p>
                <p>Chef pastelero</p>
            </div>
            <div class="foto">
                <img src="../img/5bd20d57d394da9a796a0d247330068a.jpg" alt="Maria">
            </div>
            <div class="pie">
                <p>Maria Murphy</p>
                <p>Pastelera</p>
            </div>
            <div class="foto">
                <img src="../img/3b41cd020410fab7f4dca82db69c2ce3.jpg" alt="Lujan">
            </div>
            <div class="pie">
                <p>Lujan Vazquez</p>
                <p>Pastelera</p>
            </div>
            <div class="foto">
                <img src="../img/45afff6a0888c26888c3ec09b3d52c14.jpg" alt="Camila">
            </div>
            <div class="pie">
                <p>Camila Martinez</p>
                <p>Repostera</p>
            </div>
            <div class="foto">
                <img src="../img/24ed110fbdd22647f20c4164482de1e3.jpg" alt="Micaela">
            </div>
            <div class="pie">
                <p>Micaela Rossetti</p>
                <p>Auxiliar de reposteria</p>
            </div>
            <div class="foto">
                <img src="../img/b4154fd921ef57e404e052866ef9ad23.jpg" alt="Michi">
            </div>
            <div class="pie">
                <p>Coco</p>
                <p>Seguridad</p>
            </div>
       
       
       

        </div>
            </article>
        </section>
    </main>
    <footer>
        
    </footer>
   </body>
</html>