<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bomi</title>
</head>
<body>
    <header class="header">
        <nav>
            <a href="../index.html">
            <div>
                <img src="../img/Bomi_Branding_Logotipo_v02.png" alt="bomi-logotipo">
            </div>
            </a>
            <a class="header-nav-anchors" href="../index.html">Home</a>
            <a href="../views/nosotros.html">Nosotros</a>
            <a href="../views/servicios.html">Servicios</a>
            <a href="../views/galeria.html">Galeria</a>
            <a href="../views/contacto.html">Contacto</a>
        </nav>
    </class>
    </header>
    <main>
        <section>
            <article>
                <h1>Nuestros Servicios</h1>
                <p class="section__article--parrafo">NUESTRA HISTORIA
                La trayectoria que nos hizo la mayor multinacional brasilera de cosméticos comenzó en 1969, cuando Luiz Seabra inauguró una pequeña tienda en la calle Oscar Freire, en San Pablo. Desde el primer día, construimos un negocio con la misión de proporcionar el bien estar bien, relaciones armónicas del individuo consigo mismo, con los otros y con la naturaleza.</p>
            </article>
        </section>
    
    <div class="caja-contenedora">
        <div class="caja-hija">
            <p class="caja-parrafo">Desde nuestra fundación, creemos en el potencial de las relaciones y en el poder de la cosmética como ampliadora de conciencia.

                Llegamos a millones de consumidores por diversos canales, siendo el principal de ellos cerca de 1,7 millones de Consultoras en Brasil, Argentina, Chile, Colombia, México y Perú.
                
                Conocé nuestra forma de hacer negocio.</p>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>